/* overriding */
table.table-sm th, table.table-sm td {
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: white !important;
  font-size: 20px !important;
}

.publication-profile img {
  width: 100% !important; 
  margin-top: 250px !important; 
}

.events-profile img {
  width: 100% !important; 
  margin-top: 200px !important; 
}

.home-profile img {
  width: 100% !important; 
  margin-top: 100px !important; 
}

/* overriding */
table.table-sm th, table.table-sm td {
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: white !important;
  font-size: 20px !important;
}

.publication-profile img {
  width: 100% !important; 
  margin-top: 250px !important; 
}

.events-profile img {
  width: 100% !important; 
  margin-top: 200px !important; 
}

.home-profile img {
  width: 100% !important; 
  margin-top: 100px !important; 
}

.profile .more-info {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

li {
  font-size: 20px;
}

footer.fixed-bottom .container {
  font-size: 19px;
}

footer.fixed-bottom a {
  color: var(--global-theme-color);
}

footer.fixed-bottom a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .publication-profile img,
  .events-profile img,
  .home-profile img {
    margin-top: 0 !important;
  }
}
