/* overriding */
table.table-sm th, table.table-sm td {
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: white !important;
  font-size: 20px !important;
}

.publication-profile img {
  width: 100% !important; 
  margin-top: 250px !important; 
}

.events-profile img {
  width: 100% !important; 
  margin-top: 200px !important; 
}

.home-profile img {
  width: 100% !important; 
  margin-top: 100px !important; 
}

/* overriding */
table.table-sm th, table.table-sm td {
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: white !important;
  font-size: 20px !important;
}

.publication-profile img {
  width: 100% !important; 
  margin-top: 250px !important; 
}

.events-profile img {
  width: 100% !important; 
  margin-top: 200px !important; 
}

.home-profile img {
  width: 100% !important; 
  margin-top: 100px !important; 
}

.profile .more-info {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

li {
  font-size: 20px;
}

footer.fixed-bottom .container {
  font-size: 19px;
}

footer.fixed-bottom a {
  color: var(--global-theme-color);
}

footer.fixed-bottom a:hover {
  text-decoration: underline;
}

img.img-fluid.z-depth-1.rounded {
  width: 72% !important;
  height: 50% !important;
  display: flex !important;
  justify-content: center !important;
  margin-left: 50px !important;
}


.event-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .event-container {
    order: 2; 
  }

  .publication-event {
    float: none; 
    margin: 0 auto; 
    text-align: center; 
  }

  .more-info {
    margin-top: 1rem;
  }
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.image img {
  width: 500px;
  height: 500px;
  border: 2px solid #ccc; 
  border-radius: 8px; 
  
}

.image p {
  margin-top: 10px; 
}

@media (max-width: 728px) {
  .publication-profile img,
  .events-profile img,
  .home-profile img {
    margin-top: 0 !important;
  }
  .image img {
    width: 100%;
    height: auto;
  }
}
