.clearfix > .desc{
    font-size: 27px;
    font-weight: 600;	
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .clearfix {
        max-width: 60%;
        padding-right: 10px;
    }
}

.clearfix>p{
    font-size: 16px;
}


@media (min-width: 576px) {
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Adjust if you want the content to be centered vertically */
        max-width: 60%;
        padding-right: 10px;
        height: 600px;
    }
}


@media (min-width: 576px) {
    .cv-size {
        width: 40%;
        height: 400px;
    }
}