---
layout: default
---

<article>
    {% if page.profile %}
      <div class="cv-size profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
       
       <object data="assets/pdf/example_pdf.pdf" type="application/pdf" width="100%" height="500px">
           <a href="assets/pdf/example_pdf.pdf">Download file.pdf</a>
       </object>
      </div>
    {% endif %}

    <div class="clearfix content-wrapper">
        {{ content }}
    </div>
</article> 
